@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.col-lg-12 {
  padding: 0%;
}

.col-xs-12 {
  padding: 0%;
}

.article-ropa-dos section div p, .article-sobrenosotros-dos section div p, .article-sobrenosotros-uno section div p, .article-index-nueve section div p, .article-index-siete section div p, .article-index-cuatro section div p, .article-index-uno section div p {
  font-family: "Oswald", sans-serif;
  margin: 5% 0rem 10rem 0rem;
  font-size: 1.6rem;
  color: #808080;
}

.article-zapatillas-uno section div h1, .article-ropa-uno section div h1, .article-sobrenosotros-uno section div h1, .article-index-titulo section div h1 {
  font-size: 8rem;
  color: #d3af38;
  text-align: center;
  margin: 5% 0%;
}

.article-ropa-dos section div h3, .article-sobrenosotros-dos section div h3, .article-index-ocho section div h3, .article-index-cinco section div h3, .article-index-dos section div h3 {
  font-size: 5rem;
  color: #111011;
  text-decoration: underline;
}

.article-index-seis section div img, .article-index-tres section div img {
  width: 45%;
}

.article-zapatillas-ocho section div img, .article-zapatillas-siete section div img, .article-zapatillas-seis section div img, .article-zapatillas-cinco section div img, .article-zapatillas-cuatro section div img, .article-zapatillas-tres section div img {
  width: 60%;
  margin: 9% 0% 16% 20%;
  border: solid 2px #808080;
}
.article-zapatillas-ocho section div img:active, .article-zapatillas-siete section div img:active, .article-zapatillas-seis section div img:active, .article-zapatillas-cinco section div img:active, .article-zapatillas-cuatro section div img:active, .article-zapatillas-tres section div img:active {
  transform: scale(1.3);
}

.body-body-color {
  background-color: #ffffff;
}

.header-nav-color {
  background-color: #69696969 !important;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #000000;
}

.nav-boton-color {
  color: #080808;
}

.navbar {
  border: solid 2px #696969;
}

.nav-boton-borde {
  border-color: #696868;
  border-width: 3px;
}

.nav-link-tamaño {
  font-size: 1.7rem;
}

.nav-img-boder {
  border-radius: 100%;
}

.nav-img-tamaño {
  width: 100%;
  height: 10rem;
}

/*MediasQuery*/
@media only screen and (min-width: 991px) and (max-width: 1018px) {
  .nav-link-tamaño {
    font-size: 1.5rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #6c757d;
  align-items: center;
}
footer .footer-social-margin {
  display: none;
}
@media only screen and (max-width: 1086px) {
  footer .footer-social-margin {
    display: flex;
    justify-content: center;
  }
}
footer .footer-social-margin a img {
  width: 50%;
  margin: 0% 25%;
}

.article-index-portada section {
  margin: 0%;
}
.article-index-portada section div {
  display: flex;
  justify-content: space-evenly;
}
.article-index-portada section div img {
  width: 48%;
  margin: 5% 0%;
}

.article-index-uno {
  overflow: hidden;
}
.article-index-dos {
  overflow: hidden;
}
.article-index-tres {
  overflow: hidden;
}
.article-index-cuatro {
  overflow: hidden;
}
.article-index-cinco {
  overflow: hidden;
}
.article-index-seis {
  overflow: hidden;
}
.article-index-seis section div img {
  margin: 0% 1.5%;
}

.article-index-siete {
  overflow: hidden;
}
.article-index-ocho {
  overflow: hidden;
}
.article-index-nueve {
  overflow: hidden;
}
@media only screen and (max-width: 1087px) {
  .barra-social {
    display: none;
  }
}
.barra-social section div {
  position: fixed;
  left: 0;
  top: 200px;
  z-index: 2000;
}
.barra-social section div ul {
  list-style: none;
  padding: 0%;
  background-image: linear-gradient(to bottom, #0000ff, #ce1e3b, #00c3ff, #1fe71f, #b10b0b, #4e4ec2);
  width: 80%;
}
.barra-social section div ul li a {
  display: inline-block;
}
.barra-social section div ul li a img {
  width: 85%;
}
.barra-social section div ul li a img:hover {
  transform: scale(1.4);
  transition: 0.7s;
}

/*MediaQuery MOBILE*/
@media only screen and (max-width: 425px) {
  .article-index-titulo section div h1 {
    font-size: 5rem;
  }
}

.article-index-portada section {
  margin: 0%;
}
@media only screen and (max-width: 425px) {
  .article-index-portada section div {
    display: block;
  }
}
@media only screen and (max-width: 425px) {
  .article-index-portada section div img {
    width: 95%;
    margin: 1% 2.5%;
  }
}

@media only screen and (max-width: 425px) {
  .article-index-uno section div p {
    font-size: 1.2rem;
    text-align: center;
    margin: 5% 0% 1% 0%;
  }
}

@media only screen and (max-width: 425px) {
  .article-index-dos section div h3 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 425px) {
  .article-index-tres section div img {
    width: 100%;
    height: 350px;
  }
}

@media only screen and (max-width: 425px) {
  .article-index-cuatro section div p {
    font-size: 1.2rem;
    text-align: center;
    margin: 5% 0% 1% 0%;
  }
}

@media only screen and (max-width: 425px) {
  .article-index-cinco section div h3 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 425px) {
  .article-index-seis section div img {
    width: 100%;
    height: 350px;
  }
}

@media only screen and (max-width: 425px) {
  .article-index-siete section div p {
    font-size: 1.2rem;
    text-align: center;
    margin: 5% 0% 1% 0%;
  }
}

@media only screen and (max-width: 425px) {
  .article-index-ocho section div h3 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 425px) {
  .article-index-nueve section div p {
    font-size: 1.2rem;
    text-align: center;
    margin: 5% 0% 1% 0%;
  }
}

/*MediaQuery TABLET */
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-index-titulo section div h1 {
    font-size: 6.5rem;
  }
}

.article-index-portada section {
  margin: 0%;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-index-portada section div {
    display: block;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-index-portada section div img {
    width: 95%;
    margin: 1% 2.5%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-index-uno section div p {
    font-size: 1.4rem;
    text-align: center;
    margin: 5% 0% 3% 0%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-index-dos section div h3 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 5%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-index-tres section div img {
    width: 85%;
    height: 550px;
    margin: 0% 7%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-index-cuatro section div p {
    font-size: 1.4rem;
    text-align: center;
    margin: 5% 0% 3% 0%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-index-cinco section div h3 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 5%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-index-seis section div img {
    width: 85%;
    height: 550px;
    margin: 0% 7%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-index-siete section div p {
    font-size: 1.4rem;
    text-align: center;
    margin: 5% 0% 3% 0%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-index-ocho section div h3 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 5%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-index-nueve section div p {
    font-size: 1.4rem;
    text-align: center;
    margin: 5% 0% 3% 0%;
  }
}

/*Mediasquery ruptura*/
@media only screen and (min-width: 1200px) and (max-width: 1264px) {
  .article-index-uno section div p {
    margin-left: 3%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1264px) {
  .article-index-dos section div h3 {
    margin-left: 3%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1264px) {
  .article-index-tres section div p {
    margin-left: 3%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1264px) {
  .article-index-cuatro section div p {
    margin-left: 3%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1264px) {
  .article-index-cinco section div h3 {
    margin-left: 3%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1264px) {
  .article-index-seis section div p {
    margin-left: 3%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1264px) {
  .article-index-siete section div p {
    margin-left: 3%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1264px) {
  .article-index-ocho section div h3 {
    margin-left: 3%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1264px) {
  .article-index-nueve section div p {
    margin-left: 3%;
  }
}

.article-sobrenosotros-uno {
  overflow: hidden;
}
.article-sobrenosotros-dos {
  overflow: hidden;
}
/*MediaQuery MOBILE*/
@media only screen and (max-width: 425px) {
  .article-sobrenosotros-uno section div h1 {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 425px) {
  .article-sobrenosotros-uno section div p {
    font-size: 1.2rem;
    text-align: center;
    margin: 5% 0% 1% 0%;
  }
}

@media only screen and (max-width: 425px) {
  .article-sobrenosotros-dos section div h3 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 425px) {
  .article-sobrenosotros-dos section div p {
    font-size: 1.2rem;
    text-align: center;
    margin: 5% 0% 1% 0%;
  }
}

/*MediaQuery TABLET */
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-sobrenosotros-uno section div h1 {
    font-size: 6rem;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-sobrenosotros-uno section div p {
    font-size: 1.4rem;
    text-align: center;
    margin: 5% 0% 3% 0%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-sobrenosotros-dos section div h3 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 5%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-sobrenosotros-dos section div p {
    font-size: 1.4rem;
    text-align: center;
    margin: 5% 0% 3% 0%;
  }
}

/*Mediasquery ruptura*/
@media only screen and (min-width: 1200px) and (max-width: 1264px) {
  .article-sobrenosotros-uno section div p {
    margin-left: 3%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1264px) {
  .article-sobrenosotros-dos section div h3 {
    margin-left: 3%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1264px) {
  .article-sobrenosotros-dos section div p {
    margin-left: 3%;
  }
}

.article-ropa-dos section div h3 {
  margin: 5% 0%;
}
.article-ropa-tres section div div {
  margin: 3% 10%;
}
.article-ropa-tres section div div img {
  width: 57%;
}

.article-ropa-tres section div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-ropa-tres section div div {
  width: 65%;
  height: 780px;
}
.article-ropa-tres section div div div h5 {
  font-size: 2rem;
}
.article-ropa-tres section div div div a {
  position: absolute;
  bottom: 14px;
}

.fadeIn {
  animation-duration: 2s;
}

/*MediaQuery MOBILE*/
@media only screen and (max-width: 425px) {
  .article-ropa-uno section div h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 425px) {
  .article-ropa-dos section div h3 {
    font-size: 3rem;
    margin: 5% 0%;
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  .article-ropa-tres section div {
    width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  .article-ropa-tres section div div {
    margin: 14% 10%;
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 425px) {
  .article-ropa-tres section div div img {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .article-ropa-tres section div div div {
    height: 100%;
  }
}
@media only screen and (max-width: 425px) and (max-width: 425px) {
  .article-ropa-tres section div div div h5 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 425px) and (max-width: 425px) {
  .article-ropa-tres section div div div a {
    position: absolute;
    bottom: 13px;
  }
}

/*MediaQuery TABLET*/
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-ropa-uno section div h1 {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-ropa-dos section div h3 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 5%;
  }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
  .article-ropa-tres section div div {
    margin: 7% 10%;
    width: 85%;
    height: auto;
  }
}
@media only screen and (min-width: 425px) and (max-width: 768px) {
  .article-ropa-tres section div div img {
    width: 75%;
    margin: 0% 14%;
  }
}

/*MediaQuery TABLET GRANDE*/
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-ropa-uno section div h1 {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-ropa-dos section div h3 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 5%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-ropa-tres section div div {
    margin: 7% 10%;
    width: 86%;
    height: auto;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-ropa-tres section div div img {
    width: 65%;
    margin: 0% 14%;
  }
}

/*Mediasquery Ruptura*/
@media only screen and (min-width: 1200px) and (max-width: 1264px) {
  .article-ropa-dos section div h3 {
    margin-left: 3%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1264px) {
  .article-ropa-dos section div p {
    margin-left: 3%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1145px) {
  .article-ropa-tres section div div {
    width: 70%;
    height: 780px;
  }
}

.article-zapatillas-uno {
  overflow: hidden;
}
.article-zapatillas-dos {
  overflow: hidden;
}
.article-zapatillas-dos .carousel-item img {
  width: 60%;
  margin: 10% 0%;
}

.article-zapatillas-tres {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.article-zapatillas-cuatro {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.article-zapatillas-cinco {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.article-zapatillas-seis {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.article-zapatillas-siete {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.article-zapatillas-ocho {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.zap-flex-mq {
  display: flex;
  justify-content: center;
}

/*MediaQuery MOBILE */
@media only screen and (max-width: 425px) {
  .article-zapatillas-uno section div h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 425px) {
  .article-zapatillas-dos .carousel-item img {
    width: 60%;
    margin: 10% 0%;
  }
}

@media only screen and (max-width: 425px) {
  .article-zapatillas-tres section div img {
    width: 80%;
    margin: 5% 10% 22% 10%;
    border: solid 2px #808080;
  }
  .article-zapatillas-tres section div img:active {
    transform: scale(1.3);
    border: none;
  }
}

@media only screen and (max-width: 425px) {
  .article-zapatillas-cuatro section div img {
    width: 80%;
    margin: 5% 10% 22% 10%;
    border: solid 2px #808080;
  }
  .article-zapatillas-cuatro section div img:active {
    transform: scale(1.3);
    border: none;
  }
}

@media only screen and (max-width: 425px) {
  .article-zapatillas-cinco section div img {
    width: 80%;
    margin: 5% 10% 22% 10%;
    border: solid 2px #808080;
  }
  .article-zapatillas-cinco section div img:active {
    transform: scale(1.3);
    border: none;
  }
}

@media only screen and (max-width: 425px) {
  .article-zapatillas-seis section div img {
    width: 80%;
    margin: 5% 10% 22% 10%;
    border: solid 2px #808080;
  }
  .article-zapatillas-seis section div img:active {
    transform: scale(1.3);
    border: none;
  }
}

@media only screen and (max-width: 425px) {
  .article-zapatillas-siete section div img {
    width: 80%;
    margin: 5% 10% 22% 10%;
    border: solid 2px #808080;
  }
  .article-zapatillas-siete section div img:active {
    transform: scale(1.3);
    border: none;
  }
}

@media only screen and (max-width: 425px) {
  .article-zapatillas-ocho section div img {
    width: 80%;
    margin: 5% 10% 22% 10%;
    border: solid 2px #808080;
  }
  .article-zapatillas-ocho section div img:active {
    transform: scale(1.3);
    border: none;
  }
}

/*MediaQuery TABLET */
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-zapatillas-uno section div h1 {
    font-size: 6rem;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-zapatillas-dos .carousel-item img {
    width: 60%;
    margin: 10% 0%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-zapatillas-tres section div img {
    width: 80%;
    margin: 5% 10% 22% 10%;
    border: solid 2px #808080;
  }
  .article-zapatillas-tres section div img:active {
    transform: scale(1.3);
    border: none;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-zapatillas-cuatro section div img {
    width: 80%;
    margin: 5% 10% 22% 10%;
    border: solid 2px #808080;
  }
  .article-zapatillas-cuatro section div img:active {
    transform: scale(1.3);
    border: none;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-zapatillas-cinco section div img {
    width: 80%;
    margin: 5% 10% 22% 10%;
    border: solid 2px #808080;
  }
  .article-zapatillas-cinco section div img:active {
    transform: scale(1.3);
    border: none;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-zapatillas-seis section div img {
    width: 80%;
    margin: 5% 10% 22% 10%;
    border: solid 2px #808080;
  }
  .article-zapatillas-seis section div img:active {
    transform: scale(1.3);
    border: none;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-zapatillas-siete section div img {
    width: 80%;
    margin: 5% 10% 22% 10%;
    border: solid 2px #808080;
  }
  .article-zapatillas-siete section div img:active {
    transform: scale(1.3);
    border: none;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-zapatillas-ocho section div img {
    width: 80%;
    margin: 5% 10% 22% 10%;
    border: solid 2px #808080;
  }
  .article-zapatillas-ocho section div img:active {
    transform: scale(1.3);
    border: none;
  }
}

/*# sourceMappingURL=style.css.map */
