.article-sobrenosotros-uno{  
    overflow: hidden;   
    section{
        div{
            h1{
                @extend %h1;
            }
            p{                
                @extend %p;
            }
        }                
    }    
}
.article-sobrenosotros-dos{   
    overflow: hidden; 
    section{
        div{
            h3{
                @extend %h3;
            }
            p{                
                @extend %p;
            }
        }                
    }    
}
/*MediaQuery MOBILE*/
.article-sobrenosotros-uno{    
    section{
        div{
            h1{
                @media only screen and (max-width: 425px){ 
                    font-size: 4.5rem;
                }
            }
            p{                
                @media only screen and (max-width: 425px){ 
                    font-size: 1.2rem;
                    text-align: center;
                    margin: 5% 0% 1% 0%;
                    }
                }
            }
        }                
    }    
.article-sobrenosotros-dos{    
    section{
        div{
            h3{
                @media only screen and (max-width: 425px){ 
                    font-size: 3rem;
                    text-align: center;
                    margin-bottom: 5%;
                    }
            }
            p{                
                @media only screen and (max-width: 425px){ 
                    font-size: 1.2rem;
                    text-align: center;
                    margin: 5% 0% 1% 0%;
                    }
                }
            }
        }                
    }    
/*MediaQuery TABLET */
.article-sobrenosotros-uno{    
    section{
        div{
            h1{
                @media only screen and (min-width:426px) and (max-width:768px){ 
                    font-size: 6rem;
                }
            }
            p{                
                @media only screen and (min-width:426px) and (max-width:768px){ 
                    font-size: 1.4rem;
                    text-align: center;
                    margin: 5% 0% 3% 0%;
                    }
                }
            }
        }                
    }    
.article-sobrenosotros-dos{    
    section{
        div{
            h3{
                @media only screen and (min-width:426px) and (max-width:768px){ 
                    font-size: 3.5rem;
                    text-align: center;
                    margin-bottom: 5%;
                    }
            }
            p{                
                @media only screen and (min-width:426px) and (max-width:768px){ 
                    font-size: 1.4rem;
                    text-align: center;
                    margin: 5% 0% 3% 0%;
                    }
                }
            }
        }                
    } 
/*Mediasquery ruptura*/
.article-sobrenosotros-uno{    
    section{
        div{
            p{                
                @media only screen and (min-width:1200px) and (max-width:1264px){ 
                    margin-left: 3%;
                    }
                }
            }
        }                
} 
.article-sobrenosotros-dos{    
    section{
        div{
            h3{
                @media only screen and (min-width:1200px) and (max-width:1264px){ 
                    margin-left: 3%;
                    }
            }
            p{                
                @media only screen and (min-width:1200px) and (max-width:1264px){ 
                    margin-left: 3%;
                    }
                }
            }
        }                
    }     


     